div{
    height: 120px;
    overflow: auto;
    padding: 5%;
    background: rgb(0, 0, 0,50%);
}

h4{
    color: white;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}

p{
    color: gray;
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}

button{
    border: 3px solid black;
    border-radius: 15px;
    width: 5rem;
    color: white;
    background:green;
    cursor: pointer;
}