div{
    text-align: center;
    padding: 5%;
    background: rgb(0, 0, 0,50%);
}

h4{
    color: white;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
}

input{
    border-radius: 10px;
    width: 20rem;
    padding: 2%;
    margin-top: 10px;
}

button{
    border: 3px solid black;
    border-radius: 15px;
    width: 22rem;
    height: 3rem;
    color: white;
    background:green;
    cursor: pointer;
    margin-top: 10px;
}