/* You can add global styles to this file, and also import other style files */
body{
    display: flex;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 5%;
    background-image: url(assets/background-2462430_1280.jpg);
}